.iframe-container {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
}

.iframe-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

.buttons-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  margin: 5px;
  background: blue;
  padding: 10px;
  color: #fff;
}
