@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--bg_color);
  background-blend-mode: var(--bg-color-overlay);
}
body {
  background-color: var(--bg_color);
  background-blend-mode: var(--bg-color-overlay);
}
